header {
    line-height: 2;
}

.navbar {
    background-color: #7b5e3b;
    padding: 15px 0;
    color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

a.navbar-name {
    font-weight: bold;
    font-size: 56px;
    color: #f2f0e6;
    padding: 12px;
    text-decoration: none;
}

a.navbar-name:hover {
    text-decoration: underline
}

body {
    font-family: 'Georgia', serif;
    background-color: #f2f0e6;
}

.layout {
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.left-column {
    min-height: 100vh;
    color: #f2f0e6;
    background-color: #b6a790;
    padding-left: 24px;
    padding-top: 24px;
    width: 15%;
    border-right: 2px solid #7b5e3b;
}

.right-column {
    font-size: 24px;
    padding-top: 24px;
    width: 80%;
}

h1.navigation {
    font-size: 40px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding-top: 4px;
    padding-left: 3px;
}

ul li {
    margin-bottom: 8px;
    font-size: 24px;
}

a.list-link {
    color: #f2f0e6;
    font-size: 28px;
    padding-top: 2px;
    text-decoration: none;
}

a.list-link:hover {
    text-decoration: underline;
}
