.error-page {
  text-align: center;
  padding: 4rem 2rem;
  color: #f2f0e6;
  background-color: #b6a790;
  animation: fadeIn 0.8s ease-in-out;
  border-radius: 5px;
}

.error-page h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.error-page p {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.error-page a {
  display: inline-block;
  background-color: #253f28;
  color: #f2f0e6;
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.error-page a:hover {
  background-color: #3c5839;
  color: #f2f0e6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}