{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm p-4">
        <h1 class="card-title">{{ book.title }}</h1>
        <p><strong>Авторы:</strong>
            {% for author in book.authors %}
                <span class="badge bg-secondary me-1">{{ author }}</span>
            {% endfor %}
        </p>
        
        <p class="card-text"><strong>Описание:</strong> {{ book.description }}</p>
        
        <p><strong>Жанры:</strong> 
            {% for genre in book.genres %}
                <span class="badge bg-secondary me-1">{{ genre }}</span>
            {% endfor %}
        </p>

        <a href="download/{{ book.file }}" class="btn btn-primary mt-3" download>📥 Скачать книгу</a>
    </div>
</div>
{% endblock %}