{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/lists.css">
<div class="container">
    <h1 class="card-title">{{ book.title }}({{ book.year }})</h1>
    <p>Авторы:<strong>
        {% for author in book.authors %}
            <a class="list-link" href="../author/{{ author.id }}">{{ author.name }}</a>
        {% endfor %}
    </strong></p>

    <p>Жанры:<strong>
        {% for genre in book.genres %}
            {{ genre }}
        {% endfor %}
    </strong></p>

    <p class="card-text">Описание: {{ book.description }}</p>

    <a href="../download/{{ book.file }}" class="btn btn-primary mt-3" download>Скачать книгу</a>
    <a href="../delete_book/{{ book.id }}" class="btn btn-primary mt-3">Удалить книгу</a>
</div>
{% endblock %}