{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/index.css">
<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
    <h1>{{ form.string.label }}</h1><br>
    <div class="input-field">{{ form.string(class="form-control") }}</div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
  <div class="results">
    {% if query %}
      {% if books %}
        <h1>Найденные книги</h1>
        <ul>
          {% for book in books %}
          <li><a class="find-link" href="../book/{{ book.id }}">{{ book.title }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <h1>К сожалению, таких книг у нас нет...</h1>
      {% endif %}
      {% if authors %}
        <h1>Найденные авторы</h1>
        <ul>
          {% for author in authors %}
          <li><a class="find-link" href="../author/{{ author.id }}">{{ author.name }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <h1>К сожалению, таких авторов у нас нет...</h1>
      {% endif %}
    {% else %}
    <h1>Можем вам предложить</h1>
    <ul>
      {% for book in random_books %}
      <li><a class="find-link" href="../book/{{ book.id }}">{{ book.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}