{% extends "base.html" %}

{% block content %}

<form method="POST">
  {{ form.hidden_tag() }}
  <h1>{{ form.string.label }}</h1><br>
  {{ form.string() }}
  {{ form.submit() }}
</form>
<div class="results">
  {% if query %}
  <h2>Найденные книги</h2>
  {% if books %}
  <ul>
    {% for book in books %}
    <li><a href="../book/{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>К сожалению, ничего не нашлось...</p>
  {% endif %}
  {% else %}
  <h2>Можем вам предложить</h2>
  <ul>
    {% for book in random_books %}
    <li><a href="../book/{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% endblock %}